
# Local folder

.DS_Store
node_modules
./public
.tmp
.idea
.log
dist


# Posts selection

_posts/2009 === ARTICLES ===.md
_posts/2009 === URGENT NOTES ===.md
_posts/2010 === ON HOLD ===.md
_posts/2011 === CASES STUDY ===.md
_posts/2019 === WORK CASES ===.md
_posts/2020 === NOTES ===.md
_posts/2021 === WIP ===.md
_posts/2021 === REVIEW CASES ===.md
_posts/2022 === IN REVIEW ===.md
_posts/2023 === NOTES REVIEW ===.md
_posts/2023 === IN PROGRESS ===.md
_posts/2024 === PUBLISHED ===.md
_posts/2025 === SAMPLES ===.md
_posts/2026 === FUTURE ===.md
_posts/2026-01-01-sample.md
_posts/2026-02-01-sample.md
_posts/2026-03-01-sample.md
_posts/2026-04-01-sample.md
_posts/2026-05-01-sample.md
_posts/2026-06-01-sample.md
_posts/2026-07-01-sample.md
_posts/2026-08-01-sample.md
_posts/2026-09-01-sample.md
_posts/2026-10-01-sample.md
_posts/2026-11-01-sample.md
_posts/2026-12-01-sample.md
_posts/2026-13-01-sample.md
_posts/2026-14-01-sample.md
_posts/2026-15-01-sample.md
_posts/2026-16-01-sample.md
_posts/_dates_.txt
_posts/2026-01-01-Case-Study-demo.md
_posts/2026 === FUTURE ===.md
_posts/2026-00-00-sample.md









npm-debug.log
.nyc_output
coverage
cassettes
yarn-error.log
.compiled

_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
yarn*
.bundle
!.travis.yml


# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.markdownlint.yaml


# bundler cache
.bundle
_site
vendor


# Jekyll cache
.jekyll-cache
_site
_drafts/*
template/*


# RubyGems
*.gem


# npm dependencies
node_modules
package-lock.json

!.husky
!.commitlintrc.json
!.versionrc.json


# IDE configurations
.idea
.vscode


# Misc
assets/js/dist



